# ----------------------------------------
# Angular / Node / Typescript
# ----------------------------------------

# Dependencies
node_modules/

# Production build output
dist/
dist-ssr/
out/

# Angular cache & temporary files
.angular/
.angular/cache/
.angular/cache/*
.angular/server/

# Angular build artifacts
.cache/
.ng_build/
browser/
server/

# Compiled Javascript files
*.js
*.js.map

# ----------------------------------------
# Environments (si usas API keys locales)
# ----------------------------------------
src/environments/*.ts
!src/environments/environment.example.ts

# ----------------------------------------
# Editor / IDE
# ----------------------------------------

# VSCode
.vscode/
history/
*.code-workspace

# JetBrains (WebStorm, IntelliJ…)
.idea/
*.iml

# Sublime Text
*.sublime-project
*.sublime-workspace

# ----------------------------------------
# Logs & Debug
# ----------------------------------------
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ----------------------------------------
# System files
# ----------------------------------------

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# ----------------------------------------
# Others
# ----------------------------------------

# Temporary files
*.tmp
*.temp
*.swp
*.swm
*.swo
*.swp
*.lock

# TypeScript build output
*.tsbuildinfo

# Environment files ignored by Angular tools
.env
.env.*
!.env.example

# Coverage reports
coverage/